# Python e Venv
__pycache__/
*.py[cod]
*$py.class
venv/
.env


# Banco de dados local
db.sqlite3

# Arquivos estáticos e mídia (upload de usuários)
media/

# Dados
*.csv

#backups
backup_mateco.json
backup.json